*{
    padding: 0;
    margin: 0;
}

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px 150px;
}
.nav-title{
    font-size: 28px;
    font-weight: bolder;
    
}
.btn-primary{
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    color: #0D1321;
    padding: 17px 24px;
    border-radius: 8px;



}
.btn{
    background-color: #0D1321;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 17px 24px;
    border-radius: 8px;
    margin-bottom: 29px;

}
.banner-title{
    font-size: 48px;
    font-weight: bolder;
}
.c{
    color: #0D1321;
}
.group{
    width: 240.28px;
    height: 240px;
    margin-left: 378.86px;
    margin-top: 26px;
    
}
.banner{
   
    max-width: 998px;
    margin: 0 auto;
    
}
.banner-description{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 32px;

}
.bg{
    background-image: url(../assets/Hero-bg.png);
}
.banner-content{
    text-align: center;
}
.title{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-top: 80px;
    padding-top: 80px;
    
    
}

.why-web{
    background-color: #fafafb;
    max-width: 1140px;
    margin: 90px auto;
    padding-bottom: 35px;
}

.why{
    margin: 80px 97px;
}
.t-description{ 
    text-align: center;
    margin-bottom: 48px;
}
.sub{
    font-size: 24px;
    font-weight: bold;

}
.b{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.image{
    width: 274.17px;
}
.btn1{
    height: 47px;
    width: 171px;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 600px;
    color: #0D1321;
    padding: 12px 20px;
    height: 47px;
    width: 171px;

}
.b-content{
    padding-left: 48px;
    padding-right: 98.37px;
    padding-bottom: 58.5px;
}
.v{
    margin: 0 auto;
    width: 1140px;
    height: 614px;
    margin bottom: 150px;
}
.card1{
    height: 250px;
    width: 364px;
    background-color: #fff6f3;
    border-radius: 16px;
    padding: 40px;
    margin-right: 24px;

}
.l{
    font-size: 16px;
    font-weight: bold;
    color: #0D1321;

}
.current{
    margin: 150px;
    display: flex;

}
.card2{
    height: 250px;
    width: 364px;
    background-color: #f2f6fe;
    border-radius: 16px;
    padding: 40px;
    margin-right: 24px;
}
.card3{
    height: 250px;
    width: 364px;
    background-color: #faeeae;
    border-radius: 16px;
    padding: 40px;
}
.end{
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    height: 460px;
    width: 1140px;
    margin: 0 auto;
    border-radius: 16px;


    
    
}
.support{
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 16px;
    
}
.s-description{
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding-bottom: 24px;

}
.ii{
    height: 57px;
    width: 548px;
    border-radius: 8px;
    border-style: none;
}
.ss{
    height: 47px;
    width: 171px;
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 600px;
    color: #0D1321;
    padding: 12px 20px;
    height: 57px;
    width: 120px;
    border-radius: 8px;
    border-style: none;

}
.input{
    text-align: center;
}

.icon{
    width: 37.01px;
    height: 36px;
}
.commitment{
    font-size: 20px;
    font-weight: 600px;
    padding-left: 150px;
    padding-right: 150px;
}
.e{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eff1f1;
    margin-top: 80px;
}
.ft{
    padding-right: 150px;
}
.ii::placeholder{
    font-size: 16px;
    padding: 19px 215px 19px 20px;
}


